/* GENERAL TYPOGRAPHY INFORMATION */
@use '../abstracts/mixins' as mix;
@use '../abstracts/variables';

//Base size width 320px i-phone 5
:root {

  //navigation links
  --nav-a-fs: var(--fs-500);
  //footer
  --foot-ff: var(--ff-brand);
  --foot-fs: var(--fs-300);
  --foot-ls: 0.1rem;
  --foot-fw: var(--fw-700);
  --foot-td: var(--f-text-dec);
}



body {
  font-family: var(--ff-brand);
  font-weight: var(--fw-400);
  font-size: var(--fs-400);
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  font-weight: var(--fw-700);
  line-height: 1;
  text-transform: uppercase;
}

h1 {
  font-size: var(--fs-400);
}

h2 {
  font-size: var(--fs-300);
}

h3 {
  font-size: var(--fs-200);
}


// Base size std 45em 
@media (min-width: 45em) {

  // body {
  //   font-weight: var(--fw-500);
  //   font-size: var(--fs-500);
  // }

  h1,
  h2,
  h3 {
    font-weight: var(--fw-700);
  }

  h1 {
    font-size: var(--fs-500);
  }

  h2 {
    font-size: var(--fs-400);
  }

  h3 {
    font-size: var(--fs-300);
  }
}