code {
  font-family: MyFancyCustomFont, monospace;
  //font-size: inherit;
  font-size: 1rem;
  font-style: italic;
}

/* Code in text */
p > code,
li > code,
dd > code,
td > code {
  background: none;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem 0.2rem;
  border-radius: 0.2rem;
}

pre code {
  display: block;
  background: none;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 0;
  padding-left: 2rem;
}
